apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-frontend
  namespace: skripsi-hpa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-frontend
  template:
    metadata:
      labels:
        app: nginx-frontend
    spec:
      containers:
      - name: nginx
        image: nginx:stable
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "200m"
            memory: "128Mi"
        volumeMounts:
        - name: nginx-main-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf

        - name: nginx-server-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf

      - name: nginx-exporter
        image: nginx/nginx-prometheus-exporter:latest
        args:
          - -nginx.scrape-uri=http://127.0.0.1:80/stub_status
        ports:
        - containerPort: 9113
        resources:
          requests:
            cpu: "10m"
            memory: "32Mi"
          limits:
            cpu: "50m"
            memory: "64Mi"
      volumes:
      - name: nginx-main-config
        configMap:
          name: nginx-main-config

      - name: nginx-server-config
        configMap:
          name: nginx-server-config

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-main-config
  namespace: skripsi-hpa
data:
  nginx.conf: |
    worker_processes 1;

    events {
        worker_connections 100;
    }

    http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        include /etc/nginx/conf.d/*.conf;
    }

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-server-config
  namespace: skripsi-hpa
data:
  default.conf: |
    server {
        listen 80;

        add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate" always;
        add_header Pragma "no-cache" always;
        add_header Expires "0" always;

        location = /stub_status {
            stub_status;
            access_log off;
            allow 127.0.0.1;
            deny all;
        }

        location / {
            proxy_http_version 1.1;
            proxy_set_header Connection "";
            proxy_pass http://backend;
        }
    }


---
apiVersion: v1
kind: Service
metadata:
  name: nginx-frontend
  namespace: skripsi-hpa
spec:
  selector:
    app: nginx-frontend
  ports:
  - name: http
    port: 80
    targetPort: 80
  - name: metrics
    port: 9113
    targetPort: 9113
  type: ClusterIP

